include ./mixins/mixins.pug

doctype html

html

  include ./includes/head.pug

  body

    main.content
      include ./includes/blocks/title.pug
      include ./includes/blocks/cards-container.pug

    //include script
    script(src='script/script.js')
