div.cards-container
  div.card
    div.card__content.js-card
      div.card__slogan-wrapper
        span.card__label.card__label--default Сказочное заморское яство
        span.card__label.card__label--question Котэ не одобряет?
      div.card__content-inner
        p.card__name Нямушка
        p.card__taste с фуа-гра
        div.card__features
          p.card__feature
            b 10
            |  порций
          p.card__feature мышь в подарок
        img.card__kitty-picture(src='images/kitty.png', alt='Kitty')
        div.card__weight
          span.card__weight-number 0,5
          span.card__weight-text кг
    div.card__caption-wrapper 
      p.card__caption-text.card__caption-text--default
        | Чего сидишь? Порадуй котэ, 
        span.card__buy.js-buy купи
        |.
      p.card__caption-text.card__caption-text--selected Печень утки разварная с артишоками.
      p.card__caption-text.card__caption-text--disabled Печалька, с фуагра закончился.
  div.card
    div.card__content.js-card
      div.card__slogan-wrapper
        span.card__label.card__label--default Сказочное заморское яство
        span.card__label.card__label--question Котэ не одобряет?
      div.card__content-inner
        p.card__name Нямушка
        p.card__taste с рыбой
        div.card__features
          p.card__feature
            b 40
            |  порций
          p.card__feature 
            b 2
            |  мыши в подарок
        img.card__kitty-picture(src='images/kitty.png', alt='Kitty')
        div.card__weight
          span.card__weight-number 2
          span.card__weight-text кг
    div.card__caption-wrapper 
      p.card__caption-text.card__caption-text--default
        | Чего сидишь? Порадуй котэ, 
        span.card__buy.js-buy купи
        |.
      p.card__caption-text.card__caption-text--selected Головы щучьи с чесноком да свежайшая сёмгушка.
      p.card__caption-text.card__caption-text--disabled Печалька, с рыбой закончился.
  div.card.disabled
    div.card__content.js-card
      div.card__slogan-wrapper
        span.card__label.card__label--default Сказочное заморское яство
        span.card__label.card__label--question Котэ не одобряет?
      div.card__content-inner
        p.card__name Нямушка
        p.card__taste с курой
        div.card__features
          p.card__feature
            b 100
            |  порций
          p.card__feature
            b 5
            |  мышей в подарок
          p.card__feature заказчик доволен
        img.card__kitty-picture(src='images/kitty.png', alt='Kitty')
        div.card__weight
          span.card__weight-number 5
          span.card__weight-text кг
    div.card__caption-wrapper 
      p.card__caption-text.card__caption-text--default
        | Чего сидишь? Порадуй котэ, 
        span.card__buy.js-buy купи
        |.
      p.card__caption-text.card__caption-text--selected Филе из цыплят с трюфелями в бульоне.
      p.card__caption-text.card__caption-text--disabled Печалька, с курой закончился.
